/*----------------------------
      layout
 ----------------------------*/

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 24px 24px;

  @media only screen and (min-width: $desktop) {
    margin: 20px 168px;
  }

  &__hamburger {
    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__navigation {
    display: none;

    @media only screen and (min-width: $desktop) {
      display: block;
    }
  }

  &__nav-items {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__nav-item {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.5px;
    cursor: pointer;
  }

  &__nav-item--button {
    // background: #2c2830;
    border: 1.5px solid #2c2830;
    // color: $white;
    padding: 11px 26.65px;
  }
}

/*----------------------------
      hero section 
----------------------------*/
.hero {
  background-color: $dark-violet;

  @media only screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 165px;
    gap: 15px;
    height: 600px;
  }

  &__transition {
    display: none;

    @media only screen and (min-width: $desktop) {
      display: block;
      width: 150px;
      // margin-inline-start: inherit;
      // margin-block-start: 0;
      margin-block-end: 63px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 93px 26px;
    text-align: center;
    color: $white;

    @media only screen and (min-width: $desktop) {
      flex: 1 1 50%;
      padding: 105px 0 127px;
      text-align: left;
      align-items: flex-start;
    }
  }

  &__image {
    @media only screen and (min-width: $desktop) {
      position: relative;
      top: 105px;
    }
  }

  &__heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.6666666865348816px;

    @media only screen and (min-width: $desktop) {
      font-size: 72px;
      line-height: 64px;
      letter-spacing: -1px;

      span {
        display: block;
      }
    }
  }

  &__paragraph {
    margin: 16px 15px 32px 0;
    // max-width: 327px;

    @media only screen and (min-width: $desktop) {
      margin: 27px 15px 32px 0;
    }
  }

  &__button {
    border: 1.5px solid #ffffff;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 11px 27px;
  }
}

/*----------------------------
      features section 
----------------------------*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 125px 24px 84px;

  @media only screen and (min-width: $desktop) {
    align-items: flex-start;
    margin: 305px 165px 103px;
  }

  &__transition {
    border: none;
    border-top: 1px solid #c396c6;
    width: 150px;

    @media only screen and (min-width: $desktop) {
      margin-right: auto;
    }
  }

  &__heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.6666666865348816px;
    margin: 40px 0 80px;

    @media only screen and (min-width: $desktop) {
      font-size: 72px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: -1px;
      margin: 63px 0 96px;
    }
  }

  &__container {
    @media only screen and (min-width: $desktop) {
      display: flex;
      gap: 27px;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__image-container {
    width: 86px;
    text-align: center;
  }

  &__subheading {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.3888888955116272px;
    margin: 32px 0 16px;
  }

  &__paragraph {
    text-align: center;
    margin: 0 0 56px;

    @media only screen and (min-width: $desktop) {
      text-align: left;
    }
  }
}
/*----------------------------
      cta section 
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: #2d2641;
  padding: 72px 0;
  margin: 0 24px 140px;
  color: $white;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 69px 81px;
    margin: 0 165px 150px;
  }

  &__heading {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.5555555820465088px;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.7777777910232544px;
      text-align: left;
      max-width: 475px;
    }
  }

  &__button {
    padding: 11px 22px;
  }
}

/*----------------------------
      footer section 
----------------------------*/

.footer {
  padding: 88px 0;

  &__container {
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__transition {
    border: none;
    border-top: 1px solid #dadada;
    margin: 37px 24px 40px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-align: center;
    gap: 40px;
  }

  &__nav-label {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: $grayish-violet;
    margin: 0 0 36px;
  }

  &__link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0 0 16px;
    color: $dark-violet;
  }
}
