/*----------------------------
      layout
 ----------------------------*/
// background-images
.hero {
  position: relative;
}

.hero__text {
  background: url(../images/bg-pattern-intro-left-mobile.svg) no-repeat;

  @media only screen and (min-width: $desktop) {
    background: unset;
  }
}

.hero::before {
  @media only screen and (min-width: $desktop) {
    content: url(../images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: -312px;
  }
}

.hero::after {
  content: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -180px;

  @media only screen and (min-width: $desktop) {
    content: url(../images/bg-pattern-intro-right-desktop.svg);
    bottom: 0px;
  }
}

/*----------------------------
      header section
----------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 24px 24px;
  
  @media only screen and (min-width: $desktop) {
    margin: 32px 168px;
    z-index: 5;
    background: white;
  }

  &__hamburger {
    width: 32px;
    height: 32px;
    position: relative;
    border: 1.5px solid $v-dark-violet;
    padding: 10px 6px;

    @media only screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__hamburger-icon,
  &__hamburger-icon:before,
  &__hamburger-icon:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 16px;
    background: black;
    transition: all 0.4s ease;
    display: block;
  }

  &__hamburger-icon {
    top: 13px;
  }

  &__hamburger-icon:before {
    top: -5px;
  }

  &__hamburger-icon:after {
    top: 5px;
  }

  &__hamburger-active &__hamburger-icon {
    transform: rotate(-135deg);
  }

  &__hamburger-active &__hamburger-icon:before,
  &__hamburger-active &__hamburger-icon:after {
    top: 0;
  }

  &__hamburger-active &__hamburger-icon:before {
    transform: rotate(90deg);
  }

  &__navigation {
    display: none;
    position: absolute;
    top: 76px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $v-dark-violet;
    color: $white;
    height: 587px;
    height: 100vh;
    padding: 40px 0 0;
    transition: 0.3s ease-in;

    @media only screen and (min-width: $desktop) {
      all: unset;
      display: block;
      //
    }
  }

  &__navigation-open {
    animation: modal-slide-in 1s ease-in;
    display: block;
    z-index: 1;
  }

  @keyframes modal-slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      gap: 26px;
    }
  }

  &__nav-item {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.3636363744735718px;
    color: $white;

    @media only screen and (min-width: $desktop) {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 1.5px;
      color: #837d88;
    }
  }

  &__nav-item:hover {
    @media only screen and (min-width: $desktop) {
      color: $v-dark-violet;
    }
  }

  &__nav-item-button {
    border: 1.5px solid $white;
    padding: 11px 80px;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.3636363744735718px;
    transition: 0.3s ease-in;

    @media only screen and (min-width: $desktop) {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 1.5px;
      color: $v-dark-violet;
      padding: 11px 0px; //?
    }

    @media only screen and (min-width: $desktop) {
      width: unset;
      padding: 11px 26.65px;
      border-color: $v-dark-violet;
    }
  }

  &__nav-item-button:hover {
    // @media only screen and (min-width: $desktop) {
    // }
    color: $white;
    background-color: $v-dark-violet;
  }
}

/*----------------------------
      hero section 
----------------------------*/
.hero {
  background-color: $dark-violet;

  @media only screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 165px;
    gap: 15px;
    height: 600px;
  }

  &__transition {
    display: none;

    @media only screen and (min-width: $desktop) {
      display: block;
      width: 150px;
      margin-block-end: 63px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 93px 26px;
    text-align: center;
    color: $white;

    @media only screen and (min-width: $desktop) {
      flex: 1 1 50%;
      padding: 105px 0 127px;
      text-align: left;
      align-items: flex-start;
    }
  }

  &__image {
    @media only screen and (min-width: $desktop) {
      position: relative;
      top: 105px;
    }
  }

  &__heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.6666666865348816px;

    @media only screen and (min-width: $desktop) {
      font-size: 72px;
      line-height: 64px;
      letter-spacing: -1px;

      span {
        display: block;
      }
    }
  }

  &__paragraph {
    margin: 16px 15px 32px 0;

    @media only screen and (min-width: $desktop) {
      margin: 27px 15px 32px 0;
    }
  }

  &__button {
    border: 1.5px solid #ffffff;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 11px 27px;
    cursor: pointer;
    transition: 0.3s ease-in;

  }
}
.hero__button:hover {
  color: $v-dark-violet;
  background-color: $white;
}

/*----------------------------
      features section 
----------------------------*/
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 125px 24px 84px;

  @media only screen and (min-width: $desktop) {
    align-items: flex-start;
    margin: 305px 165px 103px;
  }

  &__transition {
    border: none;
    border-top: 1px solid #c396c6;
    width: 150px;

    @media only screen and (min-width: $desktop) {
      margin-right: auto;
    }
  }

  &__heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.6666666865348816px;
    margin: 40px 0 80px;

    @media only screen and (min-width: $desktop) {
      font-size: 72px;
      font-weight: 400;
      line-height: 64px;
      letter-spacing: -1px;
      margin: 63px 0 96px;
    }
  }

  &__container {
    @media only screen and (min-width: $desktop) {
      display: flex;
      gap: 27px;
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      align-items: flex-start;
    }
  }

  &__image-container {
    width: 86px;
    text-align: center;
  }

  &__subheading {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.3888888955116272px;
    margin: 32px 0 16px;
  }

  &__paragraph {
    text-align: center;
    margin: 0 0 56px;

    @media only screen and (min-width: $desktop) {
      text-align: left;
    }
  }
}
/*----------------------------
      cta section 
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background: url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat,
    $dark-violet;
  background-position: top right;
  padding: 72px 24px;
  margin: 0 24px 140px;
  color: $white;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 69px 81px;
    margin: 0 165px 150px;
    background: url(../images/bg-pattern-how-we-work-desktop.svg) no-repeat,
      $dark-violet;
    background-position: top right;
  }

  &__heading {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.5555555820465088px;
    text-align: center;

    @media only screen and (min-width: $desktop) {
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.7777777910232544px;
      text-align: left;
      max-width: 475px;
    }
  }

  &__button {
    padding: 11px 22px;
  }
}

/*----------------------------
      footer section 
----------------------------*/

.footer {
  padding: 88px 0;
  background: url(../images/bg-pattern-footer-mobile.svg) no-repeat, #fafafa;

  @media only screen and (min-width: $desktop) {
    padding: 64px 165px;
    background: url(../images/bg-pattern-footer-desktop.svg) no-repeat, #fafafa;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media only screen and (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  a &__icon {
    transition: 0.3s ease-in;
  }

  a:hover &__icon {
    fill: $v-dark-violet;
  }

  &__transition {
    border: none;
    border-top: 1px solid #dadada;
    margin: 29px 24px 40px;

    @media only screen and (min-width: $desktop) {
      margin: 28px 0 48px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      gap: 30px;
    }
  }

  &__nav-items {
    @media only screen and (min-width: $desktop) {
      width: 255px;
    }
  }

  &__nav-label {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: $grayish-violet;
    margin: 0 0 36px;
  }

  &__nav-item {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 0 0 16px;
    color: $dark-violet;
  }

  &__link {
    position: relative;
  }

  &__link::before {
        background-color: $dark-violet;
        bottom: -0.25px;
        content: "";
        height: 1px;
        left: 0px;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.3s ease-in;
        width: 100%;
  }

  &__link:hover::before {
    transform: scaleX(1);
  }


}
